h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align-last: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: smaller;
}

.background {
    background-image: url(images/donation7.jpg);
    background-position: center;
    text-align: center;
    padding: 100px 400px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.donate {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.Taka{
    display: flex;
    justify-content: space-evenly;
}
.one{
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);

}
.one{
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);
    
}
.one{
    width: 70px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);
    
}
.two{
    width: 70px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);
    
}
.five{
    width: 70px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);
}
.thousend{
    width: 70px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);
}
.five-thousend{
    width: 70px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);
    
}

.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.donate{
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    
}
.food{
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(206, 240, 240);
}
.shelter{
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(240, 231, 235);
}
.education{
    width: 300px;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(250, 237, 218);
}